<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CryptoTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CryptoTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <CryptoTool.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>CryptoTool</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>v0.7</value>
      </setting>
    </CryptoTool.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <CryptoTool.Properties.Settings>
      <setting name="x_ImportFromClipboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="x_AddClipMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="x_AddClipClosed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="x_AddClipMouseLeave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="x_HMACEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </CryptoTool.Properties.Settings>
  </userSettings>
</configuration>